/*
   OC CIS 155 Web Development I
   BoC Style Sheet for table and form tags in scoring.html

   Author: Peter Fox

   Filename:  tables.css
*/

/* Table Styles */
table, th, td {
	font-size: 0.95em;
}

table {
	margin: auto;
	width: 600px;
}

th, td {
	padding: 4px;
	text-align: center;
	border-radius: 20px;
	border-bottom: 3px dotted purple;
}

.top, .top {
	background-color: rgb(255, 226, 140);
}

.bottom, .bottom {
	background-color: rgb(186, 255, 178);
}

.sechead1 {
	background-image: linear-gradient(darkorange, rgb(255, 226, 140));
}

.sechead2 {
	background-image: linear-gradient(green, rgb(186, 255, 178));
}

.subhead {
	font-style: italic;
	font-size: 0.8em;
}
/* Form Styles */


fieldset {
	border: 3px dotted purple;
	border-radius: 20px;
	font-family: monospace;
	font-weight: bold;
	background-color: orchid;
	margin: 15px;
}

legend {
	font-size: 1.2em;
	padding: 5px 15px;
	background-image: linear-gradient(plum, white);
	border-radius: 20px;
	border-bottom: 3px dotted purple;
}


#userscore {
	width: 25px;
}

#cardoptions {
	display: flex;
}

.cardflex {
	width: 100%;
	line-height: 30px;
}

#yourscore {
	margin: auto;
	width: 130px;
	border-bottom: 3px dotted purple;
	padding: 5px;
	border-radius: 20px;
	background-image: linear-gradient(plum, white);
}

textarea {
	background-image: linear-gradient(plum, lavender);
	border-radius: 0px 20px 20px;
	border-bottom: 3px dotted purple;
	margin: 10px 5px;
	width: 98%;
	height: 120px;
}

.sourceText {
	text-align: center;
	font-size: 0.9em;
	color: white;
	font-style: italic;
}